.box {
    position: absolute;
    width: 200px;
    height: 100px;
    background: linear-gradient(10deg, rgba(225, 255, 0, 0.132) 0%,  rgba(0, 0, 0, 0.307) 5%,rgba(0, 0, 0, 0.507) 100%);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(8px);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.selected {
    background: linear-gradient(10deg, rgba(129, 255, 2, 0.146) 0%,  rgba(93, 221, 2, 0.283) 35%,rgba(94, 255, 0, 0.521) 100%);
    box-shadow: 0 8px 32px 0 rgba(55, 155, 0, 0.895);
    color: black;
}